{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}
    <div class="detail-page">        
        <h4>{{ post.title }}</h4> 
    </div>
    <hr>

    <div class="block-tags">
        {% for tag in post.tags.all %}
            {{ tag.title }},
        {% endfor %}
    </div>
    <br>

    <div class="block-directors">                                
        Режиссеры:
        {% for director in post.directors.all %}
            <h6>
                {{ director.first_name }} 
                {{ director.last_name }} 
                {{ director.country }},
            </h6>
        {% endfor %}                                 
    </div>

    <div class="block-year">
        Год выпуска:
        <h6>
            {{ post.year }}
        </h6>
    </div>

    <div class="author">        
        <h6>Автор: {{ post.author }}</h6>
    </div>
    <br>

    <div class="created-at">
        Дата создания:
        <h6>
            {{ post.updated_at}}
        </h6> 
    </div>

    <div class="block-images">
        {% for image in post.images.all %}
            <img src="{{ image.image.url }}" alt="">
        {% endfor %}
    </div>

    <div class="block-description">
        <p><h5>{{ post.description }}</h5></p>        
    </div>

    
   
    {% if request.user.is_staff %}
        <div class="form-delete">
            <form action="{% url 'delete_post' post.id %}" method="POST" >
                {% csrf_token %}
                <button type="submit">Удалить пост</button>
            </form>
        </div>
    {% endif %}

    <div class="block-create-comment">
        <form action="{% url "create_comment" post.slug %}" method="post">
            {% csrf_token %}
                <div class="comment">
                    <textarea name="text_comment"  cols="30" rows="2"></textarea>
                </div>
                {% if request.user.is_authenticated %}
                    <button type="submit">Добавить комментарий</button>                 
                {% else %}
                    <div class="link-item"><a href="{% url 'login' %}">Авторизируйтесь</a></div>
                {% endif %}
        </form>
    </div>

    <div class="error">
        {{error}}
    </div>
    
    <div class="comment">
        {% for comment in post.comments_post.all %}
            <div class="comment-display">
                {{comment.author}}
                {{comment.created_at}}
                {{comment.title}}
            </div>
        {% endfor %}
    </div>
    
{% endblock content %}
