{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}
    <div class="detail-page">
        <h4>{{ post.title }}</h4>
    </div>
    <hr>

    <div class="block-tags">
        Теги:
        {% for tag in post.tags.all %}
            <form action="{% url 'filter_by_tag' %}" method="get">
                <div class="block-tag">
                    <input type="hidden" name="tag_{{ tag.id }}" value="{{ tag.id }}">
                    <input class="tag_button" type="submit" value="{{ tag.title }},">
                </div>
            </form>
        {% endfor %}
    </div>
    <br>

    <div class="block-directors">
        Режиссеры:
        {% for director in post.directors.all %}
            <form action="{% url 'filter_by_tag' %}" method="get">
                <div class="block-tag">
                    <input type="hidden" name="dir_{{ director.id }}" value="{{ director.id }}">
                    <input class="tag_button" type="submit"
                           value="{{ director.first_name }} {{ director.last_name }} {{ director.country }},">
                </div>
            </form>
        {% endfor %}
    </div>

    <div class="block-year">
        Год выпуска:
        <h6>
            {{ post.year }}
        </h6>
    </div>

    <div class="author">
        <h6>Автор: {{ post.author }}</h6>
    </div>
    <br>

    <div class="created-at">
        Дата создания:
        <h6>
            {{ post.updated_at }}
        </h6>
    </div>

    <div class="block-images">
        {% for image in post.images.all %}
            <img src="{{ image.image.url }}" alt="">
        {% endfor %}
    </div>

    <div class="block-description">
        <p><h5>{{ post.description }}</h5></p>
    </div>



    {% if request.user.is_staff %}
        <div class="form-delete">
            <form action="{% url 'delete_post' post.id %}" method="POST">
                {% csrf_token %}
                <button type="submit">Удалить пост</button>
            </form>
        </div>
        <hr>

        <!-- редактирование поста -->
        <div class="redaction">
            <a href="{% url 'redaction_post' post.id %}">Редактировать</a>
        </div>

    {% endif %}
    <br>

    <div class="block-create-comment">
        <input type="text" id="title_comment">
        {% if request.user.is_authenticated %}
            <button id="add_comment" type="submit">Добавить комментарий</button>
        {% else %}
            <div class="link-item"><a href="{% url 'login' %}">Авторизируйтесь</a></div>
        {% endif %}
        <p style="color: red" id="error"></p>
    </div>

    <div class="error">
        {{ error }}
    </div>

    <div id="div_comments" class="comment">
        {% for comment in post.comments_post.all %}
            <div class="comment-display">
                {{ comment.author }}
                {{ comment.created_at }}
                <div class="title-comment">
                    <p>{{ comment.title }}</p>
                </div>
            </div>
        {% endfor %}
    </div>


    <script>
        $(document).ready(function () {
            function getCookie(c_name) {
                if (document.cookie.length > 0) {
                    c_start = document.cookie.indexOf(c_name + "=");
                    if (c_start !== -1) {
                        c_start = c_start + c_name.length + 1;
                        c_end = document.cookie.indexOf(";", c_start);
                        if (c_end === -1) c_end = document.cookie.length;
                        return unescape(document.cookie.substring(c_start, c_end));
                    }
                }
                return "";
            }

            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": getCookie("csrftoken"),
                    "Authorization": "Token {{ token }}",
                }
            });

            function get_data(inputDate) {
                let date = new Date(inputDate);
                let months = [
                    "января",
                    "февраля",
                    "марта",
                    "апреля",
                    "мая",
                    "июня",
                    "июля",
                    "августа",
                    "сентября",
                    "октября",
                    "ноября",
                    "декабря"
                ];
                return date.getDate() + " " + months[date.getMonth()] + " " + date.getFullYear() + " г. " + date.getHours() + ":" + (date.getMinutes() < 10 ? '0' : '') + date.getMinutes();
            }

            $(document).on('click', '#add_comment', function (e) {
                {# Зона Ajax #}
                $.ajax({
                    type: "POST",
                    url: "{% url 'create_comment' post.id %}",
                    data: JSON.stringify({
                        title: $("#title_comment").val()
                    }),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (response) {
                        $("#div_comments").append(`
                            <div class='comment-display'>
                            ${response.author.username} ${get_data(response.created_at)}
                            <div class="title-comment"><p>${response.title}</p></div>
                            </div>`
                        )
                        $("#title_comment").val("");
                    },
                    error: function (response) {
                        $("#error").html("Комментарий не может быть пустым");
                        console.log(response);
                    }
                });
                return false;
                {# Конец зоны #}
            });
        });
    </script>

{% endblock content %}

