{% extends 'base.html' %}
{% load static %}
{% block title %}Редакстирование поста{% endblock title %}

{% block content %}
<p>Редактирование поста</p>
Заголовок:
<div class="post-title">
    {{ post.title }}
</div>

<form action="{% url 'redaction_post' post.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="redactor-title">
        <label for="">Редактируй заголовок</label>
        <input type="text" name="title" value="{{ post.title }}">
    </div>

    <div class="redaction-description">
        <label for="">Редактируй описание</label>
        <input type="text" name="description" value="{{ post.description }}">
    </div>

    <div class="redaction-year">
        <label for="">Редактируй год</label>
        <input type="text" name="year" value="{{ post.year }}">
    </div>

    <div class="redaction-tags">
        <label for="">Редактируй теги: </label>
        {% for tag in tags %}
        <label>
            {% if tag.is_tagged %}
            <input type="checkbox" name="tag_{{tag.id}}" value="{{tag.id}}" checked> {{ tag.title }}
            {% else %}
            <input type="checkbox" name="tag_{{tag.id}}" value="{{tag.id}}"> {{ tag.title }}
            {% endif %}
        </label>
        {% endfor %}
    </div>

    <div class="redaction-director">
        <label for="">Редактируй режиссера: </label>
        {% for dir in directors %}
        <label>
            {% if dir.is_director %}
            <input type="checkbox" name="dir_{{dir.id}}" value="{{dir.id}}" checked>
            {{ dir.first_name }} {{ dir.last_name }}
            {% else %}
            <input type="checkbox" name="dir_{{dir.id}}" value="{{dir.id}}">
            {{ dir.first_name }} {{ dir.last_name }}
            {% endif %}
        </label>
        {% endfor %}
    </div>

    <div class="redaction-published">
        <select name="status">
            <option value="PB">Опубликовано</option>
            <option value="DF">Черновик</option>
        </select>
    </div>

    <div class="redaction-photo">
        {% for image in post.images.all %}
        <div>
            {% if image.current %}
            <input name="main_foto" type="radio" value="{{ image.id }}" checked>
            --> redaction-foto cheked
            {% else %}
            <input name="main_foto" type="radio" value="{{ image.id }}">
            --> redaction-foto второй input
            {% endif %}
            <input type="file" name="foto_{{ image.id }}">
            --> а это где???
            <img class="post-photo" src="{{ image.image.url }}" alt="">
            --> redaction-foto endif
        </div>
        {% endfor %}

        {% for index in count_new_photo %}
        <div>
            <input name="main_foto" type="radio" value="-{{ index }}">
            <input type="file" name="foto_-{{ index }}">
            --> второй div с минусовыми индексами
        </div>
        {% endfor %}

    </div>


    <input type="submit" value="Готово">
</form>


{% endblock content %}